// Globals

* {
    padding:0;
    margin:0;
}

// for wrapper

$padding-wrapper: 10%;

// Colour pallette

$background: #000000;
$primary: #3E0909;
$secondary: #931417;
$text: #EDE7E2;
$link-active: #260606;

$post-primary: #242424;
$post-secondary: #343231;
$post-readmore: #1A1A1A; 

// font-family

$Roboto: 'Roboto', sans-serif;
$Lato: 'Lato', sans-serif;