@import 'constants';

.hidden {
    opacity:0;
    display:none;
    transition:0.3s;
}

.adm-post {
    position: relative;
    &__mng {
        button {
            width:60px;
            border:none;
            background-color:$post-readmore;
            color:$text;
            transition:0.3s;
            i{
                padding:10px;
            }
        }
        .btn-edit:hover {
            background-color:green;
            color:white;
        }
        .btn-delete:hover {
            background-color:red;
            color:white;
        }
    }
    &:first-of-type {
        margin-top:40px;
    }
}

.btn-addpost{
    position:fixed;
    bottom:30px;
    right:30px;
    width:40pt;
    height:40pt;
    background-color:darkgreen;
    color:$text;
    font-size:30px;
    font-weight:bolder;
    border:none;
    border-radius:35px; 
    transition:0.3s;
    
    &:hover {
        background-color:green;
        color:white;
        transform: scale(1.1);
    }
}

//MODAL 

.admin-modal {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 9999;
    transition:0.3s;
    .modal-content {
        position:fixed;
        background-color:white;
        width:90%;
        left:5%;
        top:5%;
        bottom:5%;
        border-radius:15px;
        padding:15px;
        overflow-y: auto;
        form {
            .form-component {
                width:100%;
                input {
                    width:100%;
                }
                textarea {
                    width:100%;
                }
                .form-image {
                    padding:10px;
                    color:$text;
                    background-color: $post-readmore;
                    font-family: $Lato;
                    font-size:1.2rem;
                }
            }
        }

        .postimg-preview {
            display:flex;
            flex-direction: column;
            img {
                max-height:200px;
                max-width:300px;
            }
        }
    }
}