@import 'constants';

// .App {
// }

.sponsors {
  left:0;
  right:0;
  padding-left:$padding-wrapper;
  background-color:$text;
  height:40pt;
  h1 {
    margin-bottom:0;
  }
}

.logo {
  z-index: 999;
  position:absolute;
  top:10pt;
  left:46pt;
  width:85pt;
  height:113pt;
}

@media only screen and (max-width:1100px) {
  .logo {
      width:47pt;
      height:62pt;
      top:30pt;
      left:32pt;
  }
}