.contact {
    .contact-content {
        color:white;
        .contact-box {
            display:flex;
            width:300px;
            background-color:#242424;
            align-items: center;
            margin-bottom:57px;

            border: 1px solid #464646;
            border-top-left-radius: 17px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 17px;

            transition:0.3s;

            &:hover {
                transform: scale(1.2);
            }

            .contact-box__mail {
                font-size:14px;
            }

            i {
                font-size:25pt;
                padding:10pt 18pt;
                background-color:#191919;
                border-top-left-radius: 17px;
                border-bottom-left-radius:4px;
            }
            p {
                font-size:19px;
                font-weight: bold;
                width: 100%;
                text-align: center;

                &:hover {
                    cursor: default;
                }
            }
        }
    }
}

@media only screen and (max-width:827px) {
    .contact-content {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}