@import 'constants';

@mixin post-padding {
    padding-top:5pt;
    padding-bottom:5pt;
    padding-left:11pt;
    padding-right:9pt;
}

@mixin postimg {
    width:100%;
            filter: brightness(0.8);
            transition:0.3s;
            &:hover {
                transform: scale(1.1);
                filter: brightness(1);
    }
}

* {
    p {
        margin-bottom:0;
    }
}

.posts {
    display:flex;
    justify-items: center !important;
}

.post-image {
    padding:0 !important;
    overflow: hidden;
    img{
        @include postimg;
    }
}

.post-content {
    background-color:$post-secondary;
    color: $text;
    padding:0 !important;
    display:flex;
    flex-direction: column;
    .post-title {
        @include post-padding;
        font-family: $Roboto;
        font-size:16pt;
        font-weight:bold;
        color:white;
        background-color:$post-primary;
    }
    .post-desc {
        @include post-padding;
        font-size:11pt;
    }
    .post-footer {
        display:flex;
        position: absolute;
        bottom:0;
        width:100%;
        justify-content: flex-end;
        background-color:$post-primary;
        .post-readmore__btn {
            width:43%;
            border:none;
            background-color:$post-readmore;
            color:$text;
            font-weight:bold;
            transition:0.3s;
            font-size:8pt;
            padding-top:7px;
            padding-bottom:5px;
            &:hover {
                filter: brightness(1.2);    
            }
        }
    }
}

.postlink {
    display:flex;
    color:white;
    margin-top:40px;
    background-color:$post-secondary;
    margin-bottom:100px;
    font-family:$Roboto;
    .right-col {
        padding:0;
        overflow: hidden;
        order:2;
        img {
            @include postimg;
        }
    }

    .left-col {
        padding:0;
        order:1;
        .postlink-title {
            @include post-padding;
            background-color:$post-primary;
        }
        .postlink-text {
            @include post-padding;
        }
        .postlink-footer {
            display:flex;
            position:absolute;
            justify-content: flex-end;
            align-items: center;
            bottom:0;
            right:0;
            left:0;
            background-color:$post-primary;
            a {
                width:25%;
                height:29px;
                background-color:$post-readmore;
                color:$text;
                text-align: center;
                padding-top:3px;
                font-size:bold;
                transition:0.3s;
                &:hover {
                    filter: brightness(1.2);
                }
            }
        }
    }
}
.seemore-wrapper {

    .seemore-btn {
        margin-bottom:40px;
        margin-left:40%;
        padding:15px 30px;
        transform: translateX(-20%);
        font-family:$Roboto;
        font-weight: bold;
        color:$text;
        background-color:$post-readmore;
        transition:0.3s;

        &:hover {
        background-color:$post-primary;
        }
    }
}

@media only screen and (max-width:1420px) {
    .post-content {
        .post-title {
            font-size:10pt;
        }
        .post-desc {
            font-size:7pt;
        }
    }
}

@media only screen and (max-width:1100px) {
    .post-content {
        .post-footer{
            .post-readmore__btn {
                width:100%;
                padding-top:5pt;
                padding-bottom:5pt;
            }
        }
    }
}

@media only screen and (max-width:991px) {
    .post {
        .post-content {
            .post-title {
                font-size:18pt;
            }
            .post-desc {
                //height:100px;
                font-size:12pt;
                padding-bottom:35pt;
            }
            .post-footer {
                .post-readmore__btn {
                    font-size:14pt;
                }
            }
        }
    }

    .postlink {
        display:flex;
        .left-col {
            order:2;
            .postlink-text {
                padding-bottom:50px;
            }
    
        }
        .right-col {
            order:1;
        }
    }



}

@media only screen and (max-width:767px) {
    .post {
        margin-left:0 !important;
    }
}

@media only screen and (max-width:575px) {
    .postlink {
        max-width:90%;  
    }
}